<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="__STATIC__/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__STATIC__/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__STATIC__/css/styles.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mdialog.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        Forgot
                    </div>
                    <form action="{:url('forgot')}" method="post" onsubmit="return fun1()">
                        <div class="card-body py-5">
                            <div class="form-group">
                                <label class="form-control-label">Username</label>
                                <input type="text" name="admin_login_name" id="admin_login_name" required="required" maxlength="6" pattern="[A-z|\u4e00-\u9fa5]{4,6}" placeholder="登录名应是4-6位英文或中文" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="email" name="admin_email" id="admin_email" required="required" class="form-control" placeholder="请输入您的邮箱">
                            </div>
                            <div id="a01"></div>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <!-- <button  class="btn btn-primary px-5">Login</button> -->
                                    <input type="submit" name="" id="sub_btn" class="btn btn-primary px-5" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="t01">
        
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/mdialog.js"></script>
<script src="__STATIC__/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/vendor/popper.js/popper.min.js"></script>
<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/vendor/chart.js/chart.min.js"></script>
<script src="__STATIC__/js/carbon.js"></script>
<script src="__STATIC__/js/demo.js"></script>
<script>
    $(document).on('blur','#admin_email',function(){
        var email=$(this).val();
        var name=$('#admin_login_name').val();
        $.ajax({
            url:"{:url('check')}",
            data:{email:email,name:name},
            dataType:"json",
            type:"POST",
            success:function(res){
                if(res.errcode==0){
                    new TipBox({type:'load',str:"努力加载中..",setTime:1500,callBack:function(){  
                        new TipBox({type:'error',str:'用户名或邮箱错误',hasBtn:true});  
                    }});
                }else{
                    new TipBox({type:'load',str:"努力加载中..",setTime:1500,callBack:function(){  
                        new TipBox({type:'success',str:'验证身份成功',hasBtn:true});
                        }});
                    var str='<div class="form-group"><label class="form-control-label">Password</label><input type="hidden" name="admin_id" id="admin_id" value="'+res.data.admin_id+'"><input type="password" name="admin_login_pwd" id="admin_login_pwd" required="required"  pattern="[A-Za-z0-9\\W]{6,30}" class="form-control" placeholder="密码应有大写小写字母与特殊字符" onblur="checkpwd()"><span id="asdf"></span></div><div class="form-group"><label class="form-control-label">Confirm Password</label><input type="password" name="again_pwd" id="again_pwd" required="required" pattern="[A-z0-9+-*/!@#$%^&*(){}[]_+=-?/、|`~]{6,30}" class="form-control"></div>';
                    $('#a01').html(str);
                }
            }
        })
    })
    var blog=false;
    function checkpwd(){
        $(document).on('blur','#admin_login_pwd',function(){
            var pwd=$(this).val();
            if(pwd ==""){
                $('#asdf').html("不能为空");return;
            }
            var id=$('#admin_id').val();
            $.ajax({
                url:"{:url('checkpwd')}",
                data:{id:id,pwd:pwd},
                dataType:"json",
                type:"POST",
                success:function(res){
                    if(res.error==1){
                        blog=false;
                        $('#asdf').html("与前三次密码重复");
                    }else{
                        blog=true;
                        $('#asdf').html("");
                    }
                }
            })
        })
        return blog;
    }
    
    function fun1(){
        if(checkpwd()==true){
            return true;
        }else{
            alert("请输入正确后提交");
            return false;
        }
    }
</script>
</body>
</html>
