<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
  <div class="admin">
    <div class="top">
      <div class="top_lf"><img src="__STATIC__/images/puruishi_02.jpg" width="422" height="78" /></div>
      <div class="top_rt">
        <form id="form1" name="form1" method="post" action="">
          <input type="image" name="imageField" src="__STATIC__/images/puruishi_05.jpg" class="rt"/>
          <input name="textfield" type="text" class="top_in" value="Search..."/>
        </form>
      </div>
    </div>
    {include file="../application/admin/view/public/common.html" /}
    <block name="nav"></block>
   <div class="cls"></div>
  </div>


</div>
<div class="ny_banner" style="background-image:url(__STATIC__/images/chanpin.jpg)"></div>
<div class="admin">
  <div class="ny_dhbk">首页 > 产品展示</div>
  <div class="ny_cplf">
    <ul class="ny_cpul">
	  <li class="ny_cpli">PV 阀门</li>
	  <li class="ny_cpli">W+Z 阀门</li>
	  <li class="ny_cpli">FG 阀门</li>
	  <li class="ny_cpli">JINDEX 阀门</li>
	  
	</ul>


  </div>


  <div class="ny_cprt">
    <div class="ny_ndtt">Vanessa(意大利)</div>
    <div class="ny_cpjj">
      <div class="ny_cpjjl">
	    <ul class="ny_cpxqul">
		  <li class="ny_cpxqli"><span class="lf">产品品牌</span><font>Vanessa(意大利) </font></li>
		  <li class="ny_cpxqli"><span class="lf">产品款号</span><font>Series 30,000 Rotary Process Valve </font></li>
		  <li class="ny_cpxqli"><span class="lf">产品尺码</span><font>ISO 5752, EN 558, ASME B16.10,</font></li>
		  <li class="ny_cpxqli"><span class="lf">产品分类</span><font>美国TYCO</font></li>
		</ul>
	  </div>
      <div class="ny_cpxqim"><img src="__STATIC__/images/cpxqim.jpg" width="325" height="275" /></div>
    </div>

    <div class="ny_fwnr" style=" padding-top:0px">
      <p>
        1．我公司组建了一批强硬的应急维修服务队，有经验丰富的现场工程师和高级技师，对出现的任何问题都能在最快的时间内赶到现场，进行维修和更换。<br />
        2．产品交付一周内，我公司售后服务部的工作人员会根据客户的联系方式，进行电话跟踪咨询，直到客户满意为止。<br />
        3．所有有关于产品质量投诉，在1小时内经予答复，24小时内赶到现场，并根据投诉的情况确定处理措施，进行维修和更换。<br />
        4．我公司承诺所有维修人员随叫随到，更好的为客户排忧解难。<br />
        5．保质期内有关于产品质量引发的费用，由我公司承担。<br />
        6．保质期内由于贵方的使用不当，或者是自然环境造成的我方免费提供维修，维修所用的材料和配件均只收成本价。<br />
        7．超出保修期的产品，我公司承诺终身定期上门检测和维护。</p>
      
    </div>
  </div>
  <div class="cls"></div>
</div>
<div class="footer sbj_35"> 2014 PetrolValves. All rights reserved. | Website Design by Bothwell Marketing, Inc.</div>
</body>
</html>
