<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
  <div class="admin">
    <div class="top">
      <div class="top_lf"><img src="__STATIC__/images/puruishi_02.jpg" width="422" height="78" /></div>
      <div class="top_rt">
        <form id="form1" name="form1" method="post" action="">
          <input type="image" name="imageField" src="__STATIC__/images/puruishi_05.jpg" class="rt"/>
          <input name="textfield" type="text" class="top_in" value="Search..."/>
        </form>
      </div>
    </div>
    {include file="../application/admin/view/public/common.html" /}
    <block name="nav"></block>
   <div class="cls"></div>
  </div>


</div>
<div class="ny_banner" style="background-image:url(__STATIC__/images/yeji.jpg)"></div>
<div class="admin">
  <div class="ny_dhbk">首页 > 公司业绩 > 济南钢铁</div>
  <div class="ny_ndtt">济南钢铁</div>
  <div align="center"><img src="__STATIC__/images/yjbim.jpg" width="1005" height="260" /></div>
  <div class="ny_yjxqt">济南钢铁  |  2014 </div>
  <div class="ny_fwnr">
    <p>济南钢铁股份有限公司创立于2000年12月，是由济南钢铁集团总公司作为主发起人，联合莱芜钢铁集团有限公司、山东黄金集团有限公司、山东金岭铁矿和山东省耐火原材料公司四家法人企业共同发起设立的特大型钢铁联合企业。公司22,000万股A股2004年6月14日发行，并于6月29日在上海证券交易所挂牌交易，公司的股票交易代码为600022，公司的总股本为9.4亿股。</p>
    <p>渣生产、销售，许可证批准范围内危险化学品销售（禁止储存）、煤气供应及自营进出口业务。<br />
      公司拥有从原料、烧结、球团、炼铁、炼钢到轧钢完整的生产工艺系统，具有独立面向市场的产、供、销系统，主要从事钢铁系列产品的生产和销售，主要产品包括碳素结构热轧中厚板、A、B级船用板、高强度09MnNb耐用海水腐蚀船用板、AH32、AH36高强度船用板、09CuPTiRE耐侯性钢板、汽车制造用优质碳素热轧板、汽车大梁用热轧钢、锅炉板、压力容器板、花纹板、钢筋混凝土用热轧带肋钢筋、圆钢等。</p>
    <p>先进的大型球团竖炉；全部采用冶金前沿技术、具有国际一流水平的1750立方米高炉和120t转炉；国内独创、技术一流的铸坯热送直轧工艺和蓄热式步进梁式加热炉；国内轧制力最大、精度最高的中厚板轧机；形成了1750立方米高炉-120吨转炉-中厚板轧机国内一流、国际先进的现代化生产线。精良的装备保证了产品质量，提升了产品档次，保持了领先的市场竞争优势。</p>
  </div>
  <div class="cls"></div>
</div>
<div class="footer sbj_35"> 2014 PetrolValves. All rights reserved. | Website Design by Bothwell Marketing, Inc.</div>
</body>
</html>
