<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
  <div class="admin">
    <div class="top">
      <div class="top_lf"><img src="__STATIC__/images/puruishi_02.jpg" width="422" height="78" /></div>
      <div class="top_rt">
        <form id="form1" name="form1" method="post" action="">
          <input type="image" name="imageField" src="i__STATIC__/mages/puruishi_05.jpg" class="rt"/>
          <input name="textfield" type="text" class="top_in" value="Search..."/>
        </form>
      </div>
    </div>
    {include file="../application/admin/view/public/common.html" /}
    <block name="nav"></block>

   <div class="cls"></div>
  </div>


</div>
<div class="ny_banner" style="background-image:url(__STATIC__/images/fuwu.jpg)"></div>
<div class="admin">
  <div class="ny_dhbk">首页 &gt; 售后服务</div>
  <div class="ny_ndtt">售后服务</div>
  <div class="ny_fwnr">
    <p>一、服务承诺<br />
      1．我公司组建了一批强硬的应急维修服务队，有经验丰富的现场工程师和高级技师，对出现的任何问题都能在最快的时间内赶到现场，进行维修和更换。<br />
      2．产品交付一周内，我公司售后服务部的工作人员会根据客户的联系方式，进行电话跟踪咨询，直到客户满意为止。<br />
      3．所有有关于产品质量投诉，在1小时内经予答复，24小时内赶到现场，并根据投诉的情况确定处理措施，进行维修和更换。<br />
      4．我公司承诺所有维修人员随叫随到，更好的为客户排忧解难。<br />
      5．保质期内有关于产品质量引发的费用，由我公司承担。<br />
      6．保质期内由于贵方的使用不当，或者是自然环境造成的我方免费提供维修，维修所用的材料和配件均只收成本价。<br />
      7．超出保修期的产品，我公司承诺终身定期上门检测和维护。</p>
    <p>二、运输方式<br />
      1．所有货物免费运送到客户手中，免费安装、调试及安装保养。维护人员告知客户如何进行产品保养的常识，直至对方满意为止。<br />
      2．所有货物安装调试完毕后，由客户查看、验收后方可离开现场。</p>
    <p>三、退换货物承诺<br />
      1．所退换产品要求具备商品完整的外包装、配件，说明书、保修卡、发票、发货单，退换原因的说明。<br />
      2．用户在正常使用的情况下出现质量问题，在保质期内请快速与我公司取得联系，以方便用户得到及时的维修和更换。<br />
      3．现在下列情况不能享受我公司退换承诺。<br />
      a．产品曾被非正常使用。<br />
      b．非正常情况下存储、潮湿。<br />
      c．未经授权的修理、误用、滥用和改动。<br />
      d．食物和液体溅落导致的损坏。<br />
      e．产品的正常的磨损。<br />
      f．超出保质期。</p>
    <p>特别注意：由于照片显示原因，无法保证页面所显示产品的颜色与产品实际颜色完全一致，我公司将尽力说明。<br />
    </p>
  </div>


  <div class="cls"></div>
</div>
<div class="footer sbj_35"> 2014 PetrolValves. All rights reserved. | Website Design by Bothwell Marketing, Inc.</div>
</body>
</html>
