<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="__STATIC__/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__STATIC__/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__STATIC__/css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>


            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                {include file="../application/index/view/Meun/meun.html" /}
                    <block name="head"></block>
            </ul>
        </nav>
    

    <div class="main-container">
        {include file="../application/index/view/Meun/meun.html" /}
        <block name="meun"></block>
        <form>
            <select name="a_status" id="a_status">
                <option value="0">审核中</option>
                <option value="1">通过</option>
            </select>
        </form>
        <div class="content" style="margin-left: 100px">
            <div class="row">
                <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    {if $info==""}
                                        <tr>
                                            <h1 style="text-align: center;">暂无数据</h1>
                                        </tr>
                                        {else /}
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>文章标题</th>
                                        <th>文章内容</th>
                                        <th>修改时间</th>
                                        <th>点赞数</th>
                                        <th>点踩数</th>
                                        <th>收藏数</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody class="t01">
                                        {foreach $page as $k=>$v}
                                            <tr id="{$v.a_id}">
                                                <td><input type="checkbox" class="check" value="{$v.a_id}"></td>
                                                <td>{$v.a_id}</td>
                                                <td class="text-nowrap"><a href="{:url('showinfo')}?a_id={$v.a_id}">{$v.a_title}</a></td>
                                                <td><a href="{:url('showinfo')}?a_id={$v.a_id}">{$v.a_content}</a></td>
                                                <td>{$v.a_updatetime|date='Y-m-d H:i:s'}</td>
                                                <td>{$v.a_like}</td>
                                                <td>{$v.a_dislike}</td>
                                                <td>{$v.a_collect}</td>
                                                <td id="t02">
                                                    {if $v.a_status==0}
                                                    <button id="checks" value="0">审核中</button>
                                                    {else/}
                                                    <button id="checks" value="1">通过</button>
                                                    {/if}
                                                </td>
                                            </tr>
                                    {/foreach}
                                    </tbody>
                                    {/if}
                                </table>
                            </div>
                        </div>
        </div>
<div class="t02">
    {$page|raw}
</div>
    </div>
</div>
<script src="__STATIC__/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/vendor/popper.js/popper.min.js"></script>
<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/vendor/chart.js/chart.min.js"></script>
<script src="__STATIC__/js/carbon.js"></script>
<script src="__STATIC__/js/demo.js"></script>
    <script>
        window.onload=function(){
            $(document).on('click','.deleteall',function(){
                var ids=[];
                $('.check:checked').each(function(){
                    ids.push($(this).val());
                });
                var ids=ids.toString();
                console.log(ids);
                $.ajax({
                    url:"check",
                    dataType:"json",
                    data:{k_id:ids},
                    type:"GET",
                    success:function(data){
                        var tr="";
                        $.each(data.data,function(k,v){
                            tr+="<tr>";
                            tr+='<td><input type="checkbox" class="check" value="'+ v.k_id+'"></td>';
                            tr+='<td>'+v.k_id+'</td>';
                            tr+='<td>'+v.k_name+'</td>';
                            tr+='<td>'+v.k_max+'</td>';
                            tr+='<td>'+v.k_score+'</td>';
                            tr+='<td>'+v.k_type+'</td>';
                            tr+='<td><a href="delete?k_id='+ v.k_id+'">删除</a></td>';
                            tr+="</tr>";
                        })
                        $('.t01').html(tr);
                    }
                })
            })
            $(document).on('click','#checks',function(){
                a_id=$(this).parents('tr').attr('id');
                $.ajax({
                    url:"change",
                    dataType:"json",
                    data:{a_id:a_id},
                    type:"POST",
                    success:function(data){
                        if(data == 1){
                            $('#t02').html('<button id="checks" value="0">审核中</button>');
                        }else{
                            $('#t02').html('<button id="checks" value="1">通过</button>');    
                        }
                        
                    }
                })
            })
        }
    </script>
</body>
</html>
