<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="__STATIC__/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__STATIC__/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__STATIC__/css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>


            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                {include file="../application/index/view/Meun/meun.html" /}
                    <block name="head"></block>
            </ul>
        </nav>
    

    <div class="main-container">
        {include file="../application/index/view/Meun/meun.html" /}
        <block name="meun"></block>

        <div class="content">
            <div class="row">
                <div class="card-body">
                            <div class="table-responsive" style="margin-left: -60px;">
                                <table class="table" >
                                    {if !isset($info[0])}
                                        <tr>
                                            <h1 style="text-align: center;">暂无数据</h1>
                                        </tr>
                                    {else /}
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>评论内容</th>
                                            <th>文章标题</th>
                                            <th>评论添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="t01">
                                            {foreach $info as $k=>$v}
                                                <tr id="{$v.comment_id}">
                                                    <td><input type="checkbox" class="check" value="{$v.comment_id}"></td>
                                                    <td>{$v.comment_id}</td>
                                                    <td>{$v.comment_text}</td>
                                                    <td class="text-nowrap"><a href="{:url('Article/showinfo')}?a_id={$v.article_id}">{$v.article_title}</a></td>
                                                    <td>{$v.comment_addtime|date='Y-m-d H:i:s'}</td>
                                                    <td id="t02">
                                                        {if $v.comment_status==0}
                                                        <button id="checks" value="1">通过</button>
                                                        <button id="checks" value="2">不通过</button>
                                                        {elseif $v.comment_status==1/}
                                                        通过
                                                        {elseif $v.comment_status==2/}
                                                        未通过
                                                        {/if}
                                                    </td>
                                                </tr>
                                            {/foreach}
                                    </tbody>
                                    {/if}
                                </table>
                            </div>
                        </div>
        </div>
<div class="t02">
    {$page|raw}
</div>
    </div>
</div>
<script src="__STATIC__/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/vendor/popper.js/popper.min.js"></script>
<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/vendor/chart.js/chart.min.js"></script>
<script src="__STATIC__/js/carbon.js"></script>
<script src="__STATIC__/js/demo.js"></script>
    <script>
        window.onload=function(){
            $(document).on('click','#checks',function(){
                that=$(this).parents('tr');
                comment_id=$(this).parents('tr').attr('id');
                var comment_status=$(this).val();
                console.log(comment_status);
                $.ajax({
                    url:"checkcomment",
                    dataType:"json",
                    data:{comment_id:comment_id,comment_status:comment_status},
                    type:"POST",
                    success:function(data){
                        if(data.comment_status == 2){
                            $('#t02').html('未通过');
                            that.empty();
                        }else{
                            $('#t02').html('通过');
                            that.empty();
                        }
                        
                    }
                })
            })
            $(document).on('change','#comment_status',function(){
                var status=$(this).val();
                $.ajax({
                    url:"search",
                    dataType:"json",
                    data:{comment_status:status},
                    type:"POST",
                    success:function(data){
                        var str='';
                        if(data.errcode==1){
                            str+="<h4>"+data.msg+"</h4>";
                        }else{
                            
                            $.each(data.msg.data,function(k,v){
                                str+='<tr id="'+v.comment_id+'">';
                                str+='<td><input type="checkbox" class="check" value="'+ v.comment_id+'"></td>';
                                str+='<td>'+v.comment_id+'</td>';
                                str+='<td>'+v.comment_text+'</td>';
                                str+='<td>'+v.article_title+'</td>';
                                str+='<td>'+v.comment_addtime+'</td>';
                                str+='<td>'+v.comment_status+'</td>';
                                str+="</tr>";
                            })
                           
                        }
                         $('.t01').html(str);
                         $('.t02').html(data.page);
                        
                    }
                })
            })
        }
    </script>
</body>
</html>
