<block name='meun'>
<div class="tou">
      <div class="left">
        {if empty($bg_userinfo)}
        <h4>Hi,您好,现在是<b id="time"></b>,欢迎进入博文园</h4>
        {else /}
        <h4>Hi,{$bg_userinfo['user_nickname']},现在是<b id="time"></b>,欢迎登录</h4>
        {/if}
      </div>
      <div class="right">
        {if empty($bg_userinfo)}
          <h4>[<a href="{:url('index/login')}">登录</a>|<a href="{:url('index/register')}">注册</a>]</h4>
        {else /}
          <h4>[<a href="{:url('index/layout')}">退出</a>]</h4>
        {/if}
      </div>
  </div>
  <div class="logo"></div>
    <nav id="nav">
    <ul>
      <li><a href="{:url('index/index')}">网站首页</a></li>
      <li><a href="{:url('own/showinfo')}">个人中心</a></li>
      <li><a href="list.html">随便看看</a></li>
      <li><a href="about.html">关于我</a></li>
    </ul>
  </nav>
</block>